<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mono.Data.Sqlite" version="1.0.61" targetFramework="net452" />
  <package id="NetStash" version="1.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="NLog" version="4.6.8" targetFramework="net452" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net452" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net452" />
  <package id="NLog.StructuredLogging.Json" version="4.0.0" targetFramework="net452" />
  <package id="SimpleTCP" version="1.0.24" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net452" />
</packages>